body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.editor_root {
  padding: 0.5rem;
  display: flex;
}

.editor_input_container {
  width: 48% !important;
  margin-right: 1% !important;;
}

.editor_input {
  width: 100%;
  align-items: flex-start;
  overflow-wrap: break-word;
}

.editor_viewer_container {
  width: 48% !important;;
  margin-left: 1% !important;;
}

.app_root {
  padding: 10px;
}